# Peak Atlas DCA75 (DCA Pro) semiconductor analyser - allow non-root access.
# Install: sudo cp 60-dca75.rules /etc/udev/rules.d/ && sudo udevadm control --reload && sudo udevadm trigger
SUBSYSTEM=="usb", ATTR{idVendor}=="04d8", ATTR{idProduct}=="f8ca", MODE="0660", TAG+="uaccess"
